Integration Airtable.blueprint.json
{
    "name": "Integration Airtable",
    "flow": [
        {
            "id": 1,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "base": "appXPdgyN7QBAPm6F",
                "view": "",
                "table": "tblgqBQtDwVigzggA",
                "config": {
                    "labelField": "Company",
                    "triggerField": "Created on"
                },
                "formula": "{Qualification} = \"qualified\"",
                "maxRecords": 10,
                "__IMTCONN__": 4658308,
                "useColumnId": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "base": {
                            "label": "Lead Base"
                        },
                        "view": {
                            "label": "Empty"
                        },
                        "table": {
                            "label": "Lead Contacts"
                        },
                        "config": {
                            "nested": {
                                "labelField": {
                                    "label": "Company"
                                },
                                "triggerField": {
                                    "label": "Created on"
                                }
                            }
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Airtable Token or Key connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Trigger configuration"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "First Name",
                        "type": "text",
                        "label": "First Name"
                    },
                    {
                        "name": "Last Name",
                        "type": "text",
                        "label": "Last Name"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Phone",
                        "type": "text",
                        "label": "Phone"
                    },
                    {
                        "name": "Company",
                        "type": "text",
                        "label": "Company"
                    },
                    {
                        "name": "Budget",
                        "type": "number",
                        "label": "Budget"
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes",
                        "multiline": true
                    },
                    {
                        "name": "Created on",
                        "type": "date",
                        "label": "Created on"
                    },
                    {
                        "name": "Qualification",
                        "type": "text",
                        "label": "Qualification"
                    },
                    {
                        "name": "Message",
                        "type": "text",
                        "label": "Message"
                    },
                    {
                        "name": "Contacted On",
                        "time": false,
                        "type": "date",
                        "label": "Contacted On"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 4665240
                            },
                            "mapper": {
                                "from": "",
                                "to": [
                                    "{{1.Email}}"
                                ],
                                "subject": "{{1.`First Name`}}, let's make your business goals happen",
                                "html": "Hey {{1.`First Name`}},\nWe've received your request for help with your company, {{1.Company}}, and I'd love to discuss your goals soon.  Please feel free to book a call with me here: https://calendly.com/larryd-soularian/intro-call",
                                "attachments": [],
                                "cc": [],
                                "bcc": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": -150
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Google Restricted connection (larryd.soularian@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "type": "array",
                                        "label": "To",
                                        "required": true,
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        }
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "type": "array",
                                        "label": "Attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "label": "File name",
                                                "type": "filename",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "label": "Data",
                                                "type": "buffer",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "label": "Content-ID",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "cc",
                                        "type": "array",
                                        "label": "Copy recipient",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "type": "array",
                                        "label": "Blind copy recipient",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address",
                                            "name": "value"
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 4658308
                            },
                            "mapper": {
                                "base": "appXPdgyN7QBAPm6F",
                                "typecast": false,
                                "useColumnId": false,
                                "table": "tblgqBQtDwVigzggA",
                                "id": "{{1.id}}",
                                "record": {
                                    "fld0AW4ahQOvKcTIv": "{{now}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": -150
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Airtable Token or Key connection",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "base": {
                                            "label": "Lead Base"
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "label": "Lead Contacts"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "type": "collection",
                                        "label": "Record",
                                        "spec": [
                                            {
                                                "name": "fldaxcava8a2kLqtV",
                                                "type": "text",
                                                "label": "First Name"
                                            },
                                            {
                                                "name": "fldoGFjbSYLHZb9Ey",
                                                "type": "text",
                                                "label": "Last Name"
                                            },
                                            {
                                                "name": "fldA4svuca8nQzJjc",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fldfUbE8cvbglGtLB",
                                                "type": "text",
                                                "label": "Phone"
                                            },
                                            {
                                                "name": "fldfd1Uq9W15m1fYg",
                                                "type": "text",
                                                "label": "Company"
                                            },
                                            {
                                                "name": "fldImokwgI3gGQRRr",
                                                "type": "number",
                                                "label": "Budget"
                                            },
                                            {
                                                "name": "fldYpsi1VF1LQClol",
                                                "type": "text",
                                                "label": "Notes"
                                            },
                                            {
                                                "name": "fld0AW4ahQOvKcTIv",
                                                "type": "date",
                                                "label": "Contacted On",
                                                "time": false
                                            }
                                        ]
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "First Name",
                                        "label": "First Name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Last Name",
                                        "label": "Last Name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Email",
                                        "label": "Email",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Phone",
                                        "label": "Phone",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Company",
                                        "label": "Company",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Budget",
                                        "label": "Budget",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Notes",
                                        "label": "Notes",
                                        "type": "text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Created on",
                                        "label": "Created on",
                                        "type": "date"
                                    },
                                    {
                                        "name": "Qualification",
                                        "label": "Qualification",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Message",
                                        "label": "Message",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Contacted On",
                                        "label": "Contacted On",
                                        "type": "date",
                                        "time": false
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "regexp:Parser",
                            "version": 1,
                            "parameters": {
                                "pattern": "\"value\"\\s*:\\s*\"([^\"]+)\"",
                                "global": false,
                                "sensitive": true,
                                "multiline": false,
                                "singleline": false,
                                "continueWhenNoRes": false
                            },
                            "mapper": {
                                "text": "{{1.Message}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 595,
                                    "y": 152
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "pattern",
                                        "type": "text",
                                        "label": "Pattern",
                                        "required": true
                                    },
                                    {
                                        "name": "global",
                                        "type": "boolean",
                                        "label": "Global match",
                                        "required": true
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Case sensitive",
                                        "required": true
                                    },
                                    {
                                        "name": "multiline",
                                        "type": "boolean",
                                        "label": "Multiline",
                                        "required": true
                                    },
                                    {
                                        "name": "singleline",
                                        "type": "boolean",
                                        "label": "Singleline",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module finds no matches",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "type": "text",
                                        "name": "$1",
                                        "label": "$1"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 4,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 4680768
                            },
                            "mapper": {
                                "channelWType": "list",
                                "text": "{{5.`$1`}}",
                                "parse": false,
                                "mrkdwn": true,
                                "channelType": "public",
                                "channel": "C098FQKR3RS"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 895,
                                    "y": 152
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Slack (bot) connection (examplebizllc.slack.com - make)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack3"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "channelWType": {
                                            "label": "Select from the list"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "channelType": {
                                            "label": "Public channel"
                                        },
                                        "channel": {
                                            "mode": "chose",
                                            "label": "marketing"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channelType",
                                        "type": "select",
                                        "label": "Channel type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "public",
                                                "private",
                                                "im",
                                                "mpim"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "channel",
                                        "type": "select",
                                        "label": "Public channel",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}